<div id="google">
  <form action="https://www.google.co.uk/search" name="f" id="f" target="_blank">
    <input name="hl" type="hidden" value="en" />
    <button type="submit" class="GoogleButton">Search</button>
    <input maxlength="2048" name="q" id="q" class="googleSearch" title="Google Search" placeholder="Google…" value="" />
  </form>
</div>

<nav>
  <ul>
    <% menu_area.menus.each do |menu| %>
      <li>
        <h1><%= menu.title %></h1>
        <ul>
          <% menu.menu_items.each do |menu_item| %>
            <% if menu_item.break? %>
              <li class="break" />
            <% else %>
              <li>
                <a href="<%= menu_item.url %>" target="_blank">
                  <%= menu_item.caption %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
