<form action="https://www.google.co.uk/search" name=f id=f target="_blank">
  <input name=hl type=hidden value=en />
  <button type="submit" class="GoogleButton">Search</button>
  <input maxlength=2048 name=q id=q class="googleSearch" title="Google Search" placeholder="Google…" value="" />
</form>

<nav>
  <ul>
    <li>
      <h1>My Code</h1>
      <ul>
        <li>
          <a href="diary" target="_blank">
            Diary
          </a>
        </li>
        
        <li>
          <a href="decision/new" target="_blank">
            Make a Decision
          </a>
        </li>
        
        <li>
          <a href="http://localhost:3000" target="_blank">
            localhost:3000
          </a>
        </li>
        
        <li>
          <a href="https://github.com/gdshailes/Greg" target="_blank">
            Github
          </a>
        </li>
        
        <li>
          <a href="https://semaphoreci.com/gdshailes/greghome" target="_blank">
            My Semaphore
          </a>
        </li>
        
        <li>
          <a href="https://ide.c9.io/gdshailes/" target="_blank">
            Cloud9 IDE
          </a>
        </li>
        
        <li>
          <a href="https://dashboard.heroku.com/login" target="_blank">
            Heroku
          </a>
        </li>
      </ul>
    </li>

    <li>
      <h1>Money</h1>
      <ul>
        <li>
          <a href="finances/accounts" target="_blank">
            Finances
          </a>
        </li>
        
        <li>
          <a href="https://www.halifax-online.co.uk/personal/logon/login.jsp" target="_blank">
            Halifax
          </a>
        </li>
        
        <li>
          <a href="https://online.mbna.co.uk/personal/logon/login.jsp" target="_blank">
            MBNA
          </a>
        </li>
        
        <li>
          <a href="https://we-are-coherent-limited.autoenrolment.co.uk" target="_blank">
            Coherent Pension
          </a>
        </li>
        
        <li>
          <a href="https://login.xero.com/?username=greg%40coherent.work" target="_blank">
            Xero - Payslips & Expenses
          </a>
        </li>
      </ul>
    </li>

    <li>
      <h1>Fitness</h1>
      <ul>
        <li>
          <a href="https://www.facebook.com/v2.12/dialog/oauth?access_type=offline&client_id=284597785309&redirect_uri=https%3A%2F%2Fwww.strava.com%2Fo_auth%2Ffacebook&response_type=code&scope=email&state=%7B%22context%22%3A%22facebook_web_signin_v2%22%2C%22state%22%3A%22eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdGF0ZV9wYXJhbSI6Ims3NHR0ZzE4b2lhMWxlNjhrZGd2bG1tcDNkanRmYjA0In0.d3qS4KgK3FzA-QIhNjB3pB1GKCeqjPBFi4E3nfYxMVg%22%7D" target="_blank">
            Strava
          </a>
        </li>
        <li>
          <a href="https://active.brytonsport.com/home" target="_blank">
            Bryton Active
          </a>
        </li>
        <li>
          <a href="https://connect.garmin.com/modern/" target="_blank">
            Garmin Connect
          </a>
        </li>
      </ul>
    </li>

    <li>
      <h1>Misc</h1>
      <ul>
        <li>
          <a href="https://www.bbc.co.uk/weather/2649024" target="_blank">
            BBC Weather
          </a>
        </li>
        
        <li>
          <a href="http://www.ebay.co.uk" target="_blank">
            Ebay
          </a>
        </li>
        
        <li>
          <a href="http://maps.google.co.uk" target="_blank">
            Google Maps
          </a>
        </li>
        
        <li>
          <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
            GMail
          </a>
        </li>
        
        <li>
          <a href="http://www.google.com/calendar" target="_blank">
            Calendar
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
