<form action="https://www.google.co.uk/search" name=f id=f target="_blank">
  <input name=hl type=hidden value=en />
  <button type="submit" class="GoogleButton">Search</button>
  <input maxlength=2048 name=q id=q class="googleSearch" title="Google Search" placeholder="Google…" value="" />
</form>

<nav>
  <ul>

    <li>
      <h1>Coherent</h1>
      <ul>
        <li>
          <a href="https://stackoverflow.com/c/coherent" target="_blank">
            Stack Overflow
          </a>
        </li>

        <li class='break' />

        <li>
          <a href="https://meet.google.com/jat-rtze-pcd?authuser=2" target="_blank">
            Coherent Call
          </a>
        </li>

        <li class='break' />

        <li>
          <a href="https://operator.coherent.test/users/login" target="_blank">
            Development
          </a>
        </li>

        <li>
          <a href="https://hq.edge.coherent.work" target="_blank">
            Edge
          </a>
        </li>

        <li>
          <a href="https://hq.stage.coherent.work" target="_blank">
            Staging
          </a>
        </li>

        <li>
          <a href="https://hq.coherent.work" target="_blank">
            Production
          </a>
        </li>

      </ul>
    </li>

    <li>
      <h1>Coding</h1>
      <ul>
        <li>
          <a href="https://trello.com/b/0on8mpTi/greg" target="_blank">
            Trello
          </a>
        </li>

        <li>
          <a href="https://github.com/Coherentwork/Coherent" target="_blank">
            Github
          </a>
        </li>

        <li>
          <a href="https://semaphoreci.com/we-are-coherent-limited/coherent" target="_blank">
            Semaphore
          </a>
        </li>

        <li>
          <a href="https://coherent.semaphoreci.com" target="_blank">
            Semaphore 2.0
          </a>
        </li>

        <li>
          <a href="https://app.bugsnag.com/we-are-coherent-ltd/coherent/errors" target="_blank">
            Bugsnag
          </a>
        </li>

        <li class='break' />

        <li>
          <a href="https://mycloud.rackspace.co.uk/?ref=UK" target="_blank">
            Rackspace
          </a>
        </li>

      </ul>
    </li>

    <li>
      <h1>Integrations</h1>
      <ul>

        <li>
          <a href="https://skaas-accept.my-clay.com/login" target="_blank">
            Salto KS - Accept
          </a>
        </li>

        <li>
          <a href="http://skaas.my-clay.com/login" target="_blank">
            Salto KS - Production
          </a>
        </li>

        <li>
          <a href="https://zapier.com/app/dashboard" target="_blank">
            Zapier
          </a>
        </li>

        <li>
          <a href="https://manage-sandbox.gocardless.com/" target="_blank">
            GoCardless - Sandbox
          </a>
        </li>

        <li>
          <a href="https://manage.gocardless.com/" target="_blank">
            GoCardless - Live
          </a>
        </li>

        <li>
          <a href="https://dashboard.stripe.com/login" target="_blank">
            Stripe
          </a>
        </li>

      </ul>
    </li>
  </ul>
</nav>
