$white:      #FFFFFF;
$green:      #00887A;
$pink:       #FFCCBC;
$lightblue:  #D3E3FC;
$blue:       #77A6F7;
$black:      darken($blue, 50%);

$background: lighten($lightblue, 50%);

$menu_background: $blue;
$menu_selected_background: $green;
$menu_highlight: $black;
$menu_new: $black;

$header_background: $blue;
$header_color: $white;
$footer_background: darken($blue, 25%);
$darkblue: darken($blue, 25%);
$footer_color: $white;

$button_background: $green;
$button_color: $white;

$warning_button_background: $pink;
$warning_button_color: $white;

$body_color: $black;
$rule_color: $blue;

$link_color: $black;
$link_highlight_color: $white;
$link_highlight_background: $green;

$form_background: $lightblue;

$modal_background: $background;
$modal_header: $menu_background;
