<div id='make_decision'>
  <h1>Make a decision!</h1>
  <input id='new_option' value=''>
  <input type='submit' id='add_option' value='Add Option'>
  <ul id='options_list'>
  </ul>
  <input type='button' id='random_choice' value='Make Random Choice' disabled='true'>
  <input type='button' id='knockout_choice' value='Make Knockout Choice' disabled='true'>
</div>

<div id='knockout' class='hidden'>
  <h1>Make a decision…</h1>
  <input type='button' id='knockout_a' value='Knockout A'> or
  <input type='button' id='knockout_b' value='Knockout B'> ?
</div>

<div id='result' class='hidden'>
  <h1>Decision made!</h1>
  <h2 id='decision'></h2>
</div>
