$background_1:          #414141;
$background_2:          #A4A4A4;

$h1_paper:              #F24C4E;
$h1_ink:                #FFF;

$link_paper:            #CCDFCB;
$link_ink:              #CCC;

$menu_background:       #D9491F;
$menu_highlight:        #9E1E1E;

$link_highlight_paper:  #056571;
$link_highlight_ink:    #FFF;

$spacer:                #056571;

$text_box_paper:        #FFF;
$text_box_ink:          #FFF;


$modal_background:      $background_1;
$modal_header:          $h1_paper;
$break_width: 620px;
