<nav class="tabs">
  <%= link_to('Tasks', tasks_path, class: current == :tasks ? 'current' : nil) %>
  <%= link_to('Add Task', new_task_path, class: current == :add_task ? 'current' : nil) %>
  <%= link_to('Archive', archive_tasks_path, class: current == :archive ? 'current' : nil) %>
</nav>
