<nav class="tabs">
  <%= link_to('Tasks', tasks_path, class: request.path == tasks_path ? 'current' : nil) %>
  <%= link_to('Add Task', new_task_path, class: request.path == new_task_path ? 'current' : nil) %>
  <%= link_to('Archive', archive_tasks_path, class: request.path == archive_tasks_path ? 'current' : nil) %>
</nav>
