<%= render partial: 'tabs' %>

<h1>Task Archive</h1>

<% if @archived_tasks.any? %>
  <% @archived_tasks.each do |task| %>
    <p>
      <%= task.name %> (<%= task.total_duration %>)
    </p>
  <% end %>
<% else %>
  No tasks archived yet.
<% end %>

