<h1>
  <span>Accounts</span>No Primary Account
</h1>
<p>You need to set one of your accounts as the Primary account for its overview to appear here.</p>


<%= link_to 'test confirmation', '#', data: { confirmation_message: 'Are you sure you want to delete this account?' }, class: 'command-button confirmation' %>