<div id="accounts">
  <% @accounts.each do |account| %>
    <%= link_to finances_account_path(account) do %>
      <div class="account">
        <div class="account-name">
          <%= account.name %>
        </div>
        <div class="account-balance">
          £<%= account.reconciled_balance + account.opening_balance %>
        </div>
    </div>
    <% end %>
  <% end %>
  <%= link_to 'Add Account…', new_finances_account_path %>
</div>
