<div id="accounts">
  <% @accounts.each do |account| %>
    <%= link_to finances_account_path(account) do %>
      <div class="account">
        <div class="account-name">
          <%= account.name %>
        </div>
        <div class="account-balance">
          <%= account.reconciled_balance %>
        </div>
    </div>
    <% end %>
  <% end %>
</table>
