<div class='confirm'>
  <div class='confirm--background'>
    <div class='confirm--form'>
      <div class='confirm--content'>
        <span id='message'></span>
      </div>
      <div class='confirm--buttons'>
        <a id='confirm' href='#'>Yes</a>
        <a id='cancel' href='#'>No</a>
      </div>
    </div>
  </div>
</div>
