<div id='modal' class='modal hidden'>
  <div class='modal--background'>
  </div>
  <div class='modal--form'>
    <div class='modal--close'>
      <i class="fa fa-times"></i>
    </div>
    <div class='modal--content'>
    </div>
  </div>
</div>
