<% if @latest.nil? %>
  There are no entries yet.
<% else %>
  <h1>Last Entry - <%= @latest.entry_date %></h1>
  <h2><%= @latest.title %></h2>
  <p><%= markdown(@latest.body) %></p>
  <div class='buttons'>
    <%= link_to("Edit", edit_diary_entry_path(@latest), class: 'command-button') %>
  </div>
<% end %>