<%= simple_form_for(@entry, url: diary_entries_path, method: :post) do |p| %>
  <%= render partial: 'form', locals: {f: p}  %>
  <div class='buttons'>
    <%= link_to 'Cancel', diary_entries_path, class: 'command-button' %>
    <%= p.button :submit, 'Save New Entry', class: 'command-button' %>
  </div>
<% end %>
