
$width: 275px;
$body_margin: 2em;
$break_width: 700px;
$mobile_header_height: 2.5em;
$footer_height: 2.3em;
$mobile_footer_height: 2em;

@import "font-awesome";

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $body-color;
  background-color: $background;
  font-family: $base_font;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 300px;
}

.right-align {
  text-align: right;
}

.mobile-header {
  @media (max-width: $break_width) {
    height: $mobile_header_height;
  }
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $header_background;
  color: $header_color;
  height: 0px;
  transition: height 0.2s;
  overflow: hidden;
  & .show-menu {
    display: inline-block;
    height: $mobile_header_height;
  }
  & .command-button {
    background-color: $button_background;
    color: $button_color;
    border: none;
    border-radius: 0;
    transition: background-color 0.2s;
    height: 100%;
    padding: 0 15px;
    margin: 0;
    opacity: 1;
    min-width: 10px;
    &:hover {
      border: none;
      background-color: $menu-highlight;
    }
    vertical-align: middle;
    line-height: 60px
  }
}

.displayed {
  display: block;
}

.hidden {
  display: none;
}

aside {
  ::-webkit-scrollbar {
    width: 0px;
  }

  nav.menu {
    padding-top: 38px;
    background-color: $menu_background;
    overflow-y: scroll;
    overflow-x: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    opacity:1;
    transition: margin-left 0.2s, opacity 0.2s;
    z-index:1;
    width: $width;
    @media (max-width:$break_width) {
      margin-left: -100%;
      padding-top: 0px;
      top: $mobile_header_height;
      opacity:0;
      width: 100%;
    }
    &.show {
      margin-left: 0;
      opacity:1;
    }
    & ul {
      list-style: none;
      display: block;
      padding: 0;
      margin: 0;
      ::-webkit-scrollbar {
        width: 0px
      }

    }
    & li {
      display: block;
      border-bottom: 1px solid $menu_selected_background;
      &.selected {
        background-color: $menu_selected_background;
      }
    }
    & a {
      margin: 0;
      padding: 0.5em;
      text-decoration: none;
      display: block;
      transition: background-color 0.2s;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        background-color: $menu_highlight;
      }
      & span {
        font-size: 0.8em;
        &.amount:before {
          content: '£';
        }
      }
      &.menu-sub{
        background-color: $footer_background;
        &:before {
          padding-left: 0.5em;
          padding-right: 0.5em;
          font-family: FontAwesome;
          content: "\f105";
        }
        &:hover{
          background-color: $menu_selected_background;
        }
      }
    }
  }
  div.new-entry-menu-item {
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    @media (mix-width:$break_width) {
      width: 100%;
    }
    font-weight: bold;
    background-color: $menu_new;
    a {
      height: 24px;
    }
    a:hover {
      background-color: black;
    }
    @media (max-width:$break_width) {
      left: -100%;
    }
    transition: left 0.2s;
  }
}

div.page {
  width: 100%;
  @media (max-width: $break_width) {
    padding-left: 0;
    padding-top: $mobile_header_height;
  }
  padding-left: $width;
  padding-bottom: 45px;
  box-sizing: border-box;
  transition: padding-left 0.2s, padding-top 0.2s;
}

main {
  margin: 25px;
  & h1 {
    font-size: 1.2em;
    & span {
      font-weight: normal;
      border-right: 1px solid $rule-color;
      padding-right: 0.5em;
      margin-right: 0.5em;
    }
  }
  & div.buttons {
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & .command-button {
      margin-right: 1em;
    }
  }

}

.command-button {
  background-color: $button_background;
  opacity: 0.8;
  color: $button_color;
  display: inline-block;
  text-decoration: none;
  padding: 0.6em 1.2em;
  margin-left: 0px;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
  border: none;
  border-radius: 0.4em;
  transition: opacity 0.2s;
  font-size: 1em;
  font-weight: normal;
  font-family: $base_font;
  &:hover {
    opacity: 1;
  }
  &:visited {
    color: $button_color;
  }
}

.warning {
  background-color: $warning_button_background;
}

div.input {
  & label {
    display: block;
    font-weight: bold;
    padding: 18px 0 0 0;
  }
  & input {
    height: 1.8em;
    border: none;
    width: 100%;
  }
  & textarea {
    height: 300px;
    width: 100%;
    resize: none;
    border: none;
  }
}

div#md-editor {
  padding-top: 0em;
  line-height: 0.2em;
  div.btn-toolbar {
    div.btn-group {
      display: inline;
      margin-right: 0.8em;
      .pull-right {
        margin-right: none;
      }
    }
  }

  & textarea {
    height: 300px;
    width: 100%;
    resize: none;
    border: none;
  }
}

div.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  background-color: $footer_background;
  color: $footer_color;
  margin-left: $width;
  transition: margin-left 0.2s;
  padding: 0px;
  font-size: 0.9em;
  vertical-align: middle;
  @media (max-width: $break_width) {
    margin-left: 0;
    height: $mobile_footer_height;
  }
  &-text {
    height: 20px;
    padding: 7px 15px;
    display: inline-block;
    @media (min-width: $break_width) {
      &:before {
        content: 'Signed in as '
      }
    }
  }
  &-links {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: $menu_background;
    height: $footer_height;
    @media (max-width: $break_width) {
      height: $mobile_footer_height;
    }
    & a {
      display: block;
      float: left;
      padding: 7px 15px;
      text-decoration: none;
      transition: background-color 0.75s;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        background-color: $menu_highlight;
      }
    }
  }
}

p#notice {
  animation: fade-away 0.5s linear 3s forwards;
}
